@import "compass";

$positive-color : #6ea600;
$negative-color : #ec4001;

$link-color-lite-bg : #0069AA;
$link-color-dark-bg : #FFF;

$text-color-lite-bg: #5f5f5f;
$text-color-dark-bg: #ffffff;

/* may still need tweaking */
$font-tny:10px;
$font-sml:13px;
$font-med:16px;
$font-lrg:18px;
$font-xlg:25px;